<app-navbar (searchCard)="cardsSearch($event)"></app-navbar>
<div class="cards-container">
  <div *ngIf="loading === true; else elseBlock">
    <div class="spinner-border spinner" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <ng-template class="cards-container" #elseBlock>
    <div class="my-3" *ngFor="let card of cards; index as i">
      <app-card [card]="card" [i]="i"></app-card>
    </div>
    <div *ngIf="!searchedCards" class="load-more-container">
      <button
        type="button"
        class="btn btn-primary btn-md my-3"
        (click)="loadMore()"
      >
        Load more...
      </button>
    </div>
  </ng-template>
</div>
